.cardsList {
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Добавляем тень */
  background-color: #fff;
  border-radius: 10px;
  position: relative; /* Добавляем для позиционирования */
}

.cardsContainer {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
}

.cardCarousel {
  max-width: 650px;
  margin: 0 auto;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  width: 100%;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.cardCarousel::-webkit-scrollbar {
  display: none;
}

.cardItem {
  flex: 0 0 300px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  margin: 0 10px;
  position: relative; /* Добавляем для позиционирования */
  cursor: pointer; /* Добавляем курсор указателя */
}

.cardInfo {
  margin-top: 20px;
  font-size: 16px;
  color: #666;
}

.activeCardInfo {
  margin-top: 20px;
  font-size: 14px;
  color: #333;
  text-align: left;
}

.orderCardText {
  margin-top: 10px;
  font-size: 18px;
  color: #007bff;
  font-weight: bold;
}

.navigationButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 8px 8px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
}

.prevButton {
  left: 1px;
}

.nextButton {
  right: 1px;
}
