.cardsList {
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 10px;
  position: relative; 
  min-height: 500px;
}

.cardsContainer {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
}

.cardCarousel {
  max-width: 650px;
  margin: 0 auto;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  width: 100%;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.cardCarousel::-webkit-scrollbar {
  display: none;
}

.cardItem {
  flex: 0 0 200px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  margin: 0 10px;
  position: relative;
  cursor: pointer; 
}

.cardContent {
  position: relative;
  text-align: center;
}

.cardImage {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.cardNumber {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1.0em;
  width: 100%;
}

.cardExpiration {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 0.8em;
}

.cardholderName {
  position: absolute;
  top: 90%;
  left: 35%;
  transform: translate(-50%, -50%);
  color: #d1d1d1;
}

.cardInfo {
  margin-top: 10px;
  font-size: 16px;
  color: #666;
}

.activeCardInfo {
  margin-top: 20px;
  font-size: 14px;
  color: #333;
  text-align: left;
}

.orderCardText {
  margin-top: 10px;
  font-size: 18px;
  color: #007bff;
  font-weight: bold;
}


.cardActions {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 10px;
}

.actionButton {
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 26px;
}

.actionButton:hover {
  background-color: #0056b3;
}

.cardDetails {
  margin-top: 20px;
  margin-left: 60px;
  text-align: left;
}

.link {
  color: #007bff;
  cursor: pointer;
  text-decoration: underline;
}

.navigationButton {
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  padding: 8px 8px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
}

.prevButton {
  left: 1px;
}

.nextButton {
  right: 1px;
}
