.loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin: 0 auto;
    background-color: aliceblue;
    padding: 20px 5px 10px;
    border-radius: 8px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 80%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 20px;
    text-align: left;
}

.btn {
    display: inline-block;
    margin: 10px;
    padding: 12px 24px;
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btnNext {
    background-color: #28a745;
    width: 180px;
}

.btnBack {
    background-color: #707070;
    width: 180px;
}

.btnNext:hover {
    background-color: #189234;
}

.btnBack:hover {
    background-color: #5e5e5e;
}

.errorMessage {
    background-color: #ffe4e1;
    color: #8b0000;
    padding: 10px;
    border: 1px solid #8b0000;
    border-radius: 5px;
    margin-top: 10px;
}

.errorInput {
    border-color: #ff0000;
}

.highlight {
    font-size: 1.2em; /* Увеличивает размер текста */
    font-weight: bold; /* Делает текст жирным */
}

.registrationLinkContainer {
    margin-top: 10px;
    text-align: center;
}

.registrationLink {
    color: #007bff;
    cursor: pointer;
    text-decoration: underline;
}

.registrationLink:hover {
    color: #0056b3;
}
