/* Общие стили */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f8f8f8;
  color: #333;
  margin: 0; /* Убираем отступы по умолчанию */
  padding: 0;
}

.personalCabinet {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Добавляем тень */
  background-color: #fff;
  border-radius: 10px;
}

/* Стили для шапки */
header {
  background-color: #fff;
  padding: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #333; /* Цвет текста */
  text-align: center; /* Выравнивание по центру */
}

header h1 {
  margin: 0; /* Убираем отступы у h1 */
  color: #333; /* Цвет текста h1 */
}
/* Стили для основного контента */
main {
  padding: 20px 0;
}

/* Стили для секций */
section {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

/* Стили для кнопок */
button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

/* Стили для footer */
footer {
  max-width: 1200px;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  padding: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #333;
  text-align: center;
}