.balanceInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .balance {
    font-size: 38px;
    font-weight: bold;
    color: #333;
  }
  
  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .currentMonth {
    font-size: 18px;
    font-weight: bold;
    color: #666;
    margin-bottom: 10px;
  }
  
  .infoItems {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    width: 100%;
  }
  
  .infoItem {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 8px;
    padding: 20px;
  }
  
  .infoContent {
    text-align: center;
    font-size: 16px;
    color: #666;
  }